# 2024 Elo and Luck Ratings

## Load packages

In [1]:
import pandas as pd
import scipy.stats as stats
import numpy as np

## Initialize core dataframes

In [82]:
weekly_scores = pd.DataFrame(columns=['week','home','away','home_score','away_score'])
elo_ratings = pd.DataFrame(columns=['week','manager','elo', 'weekly_change'])
luck_ratings = pd.DataFrame(columns=['week', 'manager', 'luck factor'])

In [83]:
w1_g1 = [1, 'Nathan', 'Paul',   100.98, 112.86]
w1_g2 = [1, 'Geoff',  'Clay',   88.92,  87.16]
w1_g3 = [1, 'Aaron',  'David',  137.58, 138.88]
w1_g4 = [1, 'Aidan',  'Bebe',   101.02, 85.08]  
w1_g5 = [1, 'Thad',   'Jack',   84.86,  80.14]
w1_g6 = [1, 'Fisher', 'Zander', 83.46, 123.9]

w1_games = [w1_g1, w1_g2, w1_g3, w1_g4, w1_g5, w1_g6]

In [84]:
last_game_index = weekly_scores.shape[0]

for game in w1_games:
    weekly_scores.loc[last_game_index] = game
    last_game_index += 1

In [85]:
elo_aaron_w1  = [1, 'Aaron',  1486, 0]
elo_aidan_w1  = [1, 'Aidan',  1514, 0]
elo_bebe_w1   = [1, 'Bebe',   1495, 0]
elo_clay_w1   = [1, 'Clay',   1477, 0]
elo_david_w1  = [1, 'David',  1450, 0]
elo_fisher_w1 = [1, 'Fisher', 1505, 0]
elo_geoff_w1  = [1, 'Geoff',  1532, 0]
elo_jack_w1   = [1, 'Jack',   1541, 0]
elo_thad_w1   = [1, 'Thad',   1468, 0]
elo_nathan_w1 = [1, 'Nathan', 1550, 0]
elo_paul_w1   = [1, 'Paul',   1523, 0]
elo_zander_w1 = [1, 'Zander', 1459, 0]

w1_elos = [elo_aaron_w1, elo_aidan_w1, elo_bebe_w1, elo_clay_w1,
           elo_david_w1, elo_fisher_w1, elo_geoff_w1, elo_jack_w1,
           elo_thad_w1, elo_nathan_w1, elo_paul_w1, elo_zander_w1]

last_elo_index = elo_ratings.shape[0]

for elo in w1_elos:
    elo_ratings.loc[last_elo_index] = elo
    last_elo_index +=1

In [86]:
luck_aaron_w1  = [1, 'Aaron',  0]
luck_aidan_w1  = [1, 'Aidan',  0]
luck_bebe_w1   = [1, 'Bebe',   0]
luck_clay_w1   = [1, 'Clay',   0]
luck_david_w1  = [1, 'David',  0]
luck_fisher_w1 = [1, 'Fisher', 0]
luck_geoff_w1  = [1, 'Geoff',  0]
luck_jack_w1   = [1, 'Jack',   0]
luck_thad_w1   = [1, 'Thad',   0]
luck_nathan_w1 = [1, 'Nathan', 0]
luck_paul_w1   = [1, 'Paul',   0]
luck_zander_w1 = [1, 'Zander', 0]

w1_luck = [luck_aaron_w1, luck_aidan_w1, luck_bebe_w1, luck_clay_w1,
           luck_david_w1, luck_fisher_w1, luck_geoff_w1, luck_jack_w1,
           luck_thad_w1, luck_nathan_w1, luck_paul_w1, luck_zander_w1]

last_luck_index = luck_ratings.shape[0]

for luck_row in w1_luck:
    luck_ratings.loc[last_luck_index] = luck_row
    last_luck_index +=1

## Functions

### Core Functions

In [7]:
def get_elo_ratings(game, elo_df):
    """ Returns the elo rating of the home team. """
    week = game[0]
    home_manager = game[1]
    away_manager = game[2]
    
    home_manager_elo = elo_df[(elo_df['week'] == week) & (elo_df['manager'] == home_manager)].iloc[0,2]
    away_manager_elo = elo_df[(elo_df['week'] == week) & (elo_df['manager'] == away_manager)].iloc[0,2]
    
    return (home_manager_elo, away_manager_elo)

In [8]:
def get_weekly_avg_score(weekly_score_df, week):
    """ Return the avg. league score for a given week. """
    
    weekly_df = weekly_score_df[weekly_score_df['week'] == week]
    
    return sum(weekly_df['home_score'] + weekly_df['away_score']) / 12

In [9]:
def calculate_weekly_score_standard_deviation(score_df, week):
    """ Return the standard deviation for scores for a given week. """
    
    weekly_score_df = score_df[score_df['week'] == week]
    
    return pd.concat([weekly_score_df['home_score'], weekly_score_df['away_score']], ignore_index = True).std()

In [10]:
def calculate_elo_win_probability(elo_tuple):
    """ Calculates the win probability based on Elos for both the home and away team. """
    
    home_elo = int(elo_tuple[0])
    away_elo = int(elo_tuple[1])
    
    home_win_prob = 1 / (1 + 10**((away_elo - home_elo) / 400))
    away_win_prob = 1 / (1 + 10**((home_elo - away_elo) / 400))
    
    return (home_win_prob, away_win_prob)

In [11]:
def determine_game_results(game):
    """ Determines wins for each team from a game. """
    
    home_wins = 0
    away_wins = 0
    
    if (game[3] > game[4]):
        home_wins += 1
        
    elif (game[3] < game[4]):
        away_wins = 1
        
    else:
        home_wins = 0.5
        away_wins = 0.5
        
    return (home_wins, away_wins)

### Elo Update Functions

In [12]:
def get_outcome_elo_change(game, elo_df):
    """
    Calculates the elo change for each team based on each team's elo entering the week
    and the actual result of the week.
    """
    
    prior_elo_scores = get_elo_ratings(game, elo_df)
    win_probabilities = calculate_elo_win_probability(prior_elo_scores)
    game_outcome = determine_game_results(game)
    
    home_elo_change = 20 * (game_outcome[0] - win_probabilities[0])
    away_elo_change = 20 * (game_outcome[1] - win_probabilities[1])
    
    
    return (home_elo_change, away_elo_change)

In [13]:
def calculate_score_elo_change(team_score, avg_score):
    """ Calculate the elo change for a team based on its score and the league avg score. """
    
    return 40 * (team_score - avg_score) / avg_score

In [14]:
def get_score_elo_change(game, avg_score):
    """ Return elo change for home and away teams based on their scores. """
    
    home_score = game[3]
    away_score = game[4]
    
    home_elo_change = calculate_score_elo_change(home_score, avg_score)
    away_elo_change = calculate_score_elo_change(away_score, avg_score)
    
    return (home_elo_change, away_elo_change)

In [15]:
def calculate_net_elo_change(outcome_elo_change, score_elo_change):
    """ Return the net elo change. """
    
    return ((outcome_elo_change[0] + score_elo_change[0]) / 2, (outcome_elo_change[1] + score_elo_change[1]) / 2)

In [16]:
def calculate_elo_update(game, weekly_score_df, elo_df, week):
    """ Calculate the new elo for each team. """
    
    outcome_elo_change = get_outcome_elo_change(game, elo_df)
    
    weekly_avg = get_weekly_avg_score(weekly_score_df, 1)
    score_elo_change = get_score_elo_change(game, weekly_avg)
    
    net_elo_changes = calculate_net_elo_change(outcome_elo_change, score_elo_change)
    
    return net_elo_changes

In [17]:
def update_elo_df(elo_df, score_df, week):
    """ Add the new end-of-week elos to the elo_ratings dataframe. """
    
    # Limit to current week's scores
    weekly_scores = score_df[score_df['week'] == week]
    
    for i in range(weekly_scores.shape[0]):
        home_team = weekly_scores.loc[i][1]
        away_team = weekly_scores.loc[i][2]
        
        home_elo_prior = get_elo_ratings(weekly_scores.loc[i], elo_df)[0]
        away_elo_prior = get_elo_ratings(weekly_scores.loc[i], elo_df)[1]
        
        elo_changes = calculate_elo_update(weekly_scores.loc[i], weekly_scores, elo_df, week)
        
        home_elo_new = home_elo_prior + elo_changes[0]
        away_elo_new = away_elo_prior + elo_changes[1]
        
        home_elo_update = (week + 1, home_team, home_elo_new, elo_changes[0])
        away_elo_update = (week + 1, away_team, away_elo_new, elo_changes[1])
        
        new_home_elo_df = pd.DataFrame([home_elo_update], columns=elo_df.columns)
        new_away_elo_df = pd.DataFrame([away_elo_update], columns=elo_df.columns)
        
        elo_df = pd.concat([elo_df, new_home_elo_df], ignore_index=True)
        elo_df = pd.concat([elo_df, new_away_elo_df], ignore_index=True)
    
    return elo_df

In [18]:
update_elo_df(elo_ratings, weekly_scores, 1)

   week manager          elo weekly_change
0     1   Aaron         1486             0
1     1   Aidan         1514             0
2     1    Bebe         1495             0
3     1    Clay         1477             0
4     1   David         1450             0
5     1  Fisher         1505             0
6     1   Geoff         1532             0
7     1    Jack         1541             0
8     1    Thad         1468             0
9     1  Nathan         1550             0
10    1    Paul         1523             0
11    1  Zander         1459             0
12    2  Nathan   1544.39864      -5.60136
13    2    Paul  1530.502016      7.502016
14    2   Geoff  1533.638369      1.638369
15    2    Clay  1469.863443     -7.136557
16    2   Aaron  1487.441735      1.441735
17    2   David  1462.728933     12.728933
18    2   Aidan  1518.521099      4.521099
19    2    Bebe  1486.944072     -8.055928
20    2    Thad  1470.663168      2.663168
21    2    Jack  1530.667586    -10.332414
22    2  Fisher  1495.695331     -9.304669
23    2  Zander  1468.935609      9.935609

### Luck Score Functions

In [21]:
test_game = weekly_scores.loc[0]

In [22]:
def calculate_score_win_probability(game, week_avg, week_sd):
    """ Calculates the probability of each team winning based on their score for that week. """
    
    home_score = game[3]
    away_score = game[4]
    
    home_z_score = (home_score - week_avg) / week_sd
    away_z_score = (away_score - week_avg) / week_sd
    
    home_score_win_probability = stats.norm.cdf(home_z_score)
    away_score_win_probability = stats.norm.cdf(away_z_score)
    
    return (home_score_win_probability, away_score_win_probability)

In [23]:
calculate_score_win_probability(test_game, get_weekly_avg_score(weekly_scores, 1), calculate_weekly_score_standard_deviation(weekly_scores, 1))

(0.47965038900918244, 0.6932769735304379)

In [65]:
def calculate_luck_magnitude(game_outcomes, score_win_probabilities, elo_win_probabilities):
    """ Calculates the magnitude of a team's luck was in a given week. """
    
    home_luck_differential = (score_win_probabilities[0] - elo_win_probabilities[0]) if game_outcomes[0] == 1 else (score_win_probabilities[0] - (1 - elo_win_probabilities[0]))
    away_luck_differential = (score_win_probabilities[1] - elo_win_probabilities[1]) if game_outcomes[1] == 1 else (score_win_probabilities[1] - (1 - elo_win_probabilities[1]))
    
    return (home_luck_differential, away_luck_differential)

In [66]:
def calculate_luck_factor(game, score_df, elo_df, week):
    """ Returns luck factor for each team. """
    
    
    weekly_avg = get_weekly_avg_score(score_df, week)
    weekly_std = calculate_weekly_score_standard_deviation(score_df, week)
    
    score_win_probabilities = calculate_score_win_probability(game, weekly_avg, weekly_std)
    
    elo_ratings = get_elo_ratings(game, elo_df)
    elo_win_probabilities = calculate_elo_win_probability(elo_ratings)
    
    game_outcomes = determine_game_results(game)
    
    luck_differentials = calculate_luck_magnitude(game_outcomes, score_win_probabilities, elo_win_probabilities)
    
    home_luck_factor = -1*abs(luck_differentials[0]) if game_outcomes[0] == 0 else abs(luck_differentials[0])
    away_luck_factor = -1*abs(luck_differentials[1]) if game_outcomes[1] == 0 else abs(luck_differentials[1])
    
    return (home_luck_factor, away_luck_factor)

In [68]:
calculate_luck_factor(test_game, weekly_scores, elo_ratings, 1)

(-0.018428481066353974, 0.23205506558760947)

In [93]:
def update_luck_table(score_df, elo_df, luck_df, week):
    """ Updates the luck df. """
    
    weekly_scores = score_df[score_df['week'] == week]
    
    for i in range(weekly_scores.shape[0]):
        home_team = weekly_scores.loc[i][1]
        away_team = weekly_scores.loc[i][2]
        
        home_team_current_luck_factor = luck_df[luck_df['manager'] == home_team].iloc[0,2]
        away_team_current_luck_factor = luck_df[luck_df['manager'] == away_team].iloc[0,2]
        
        luck_change = calculate_luck_factor(weekly_scores.loc[i], weekly_scores, elo_df, week)
        
        luck_df.loc[luck_df['manager'] == home_team, 'luck factor'] += luck_change[0]
        luck_df.loc[luck_df['manager'] == away_team, 'luck factor'] += luck_change[1]
        
    return luck_df

In [94]:
update_luck_table(weekly_scores, elo_ratings, luck_ratings, 1)

   week manager luck factor
0     1   Aaron   -0.503416
1     1   Aidan    0.046919
2     1    Bebe   -0.314134
3     1    Clay   -0.335923
4     1   David    0.509211
5     1  Fisher   -0.242382
6     1   Geoff    0.309434
7     1    Jack   -0.244185
8     1    Thad    0.186264
9     1  Nathan   -0.018428
10    1    Paul    0.232055
11    1  Zander    0.412431