# 2024 Elo and Luck Ratings

## Load packages

In [1]:
import pandas as pd

## Initialize core dataframes

In [15]:
weekly_scores = pd.DataFrame(columns=['week','home','away','home_score','away_score'])
elo_ratings = pd.DataFrame(columns=['week','manager','elo'])

In [16]:
w1_g1 = [1, 'Nathan', 'Paul',   100.98, 112.86]
w1_g2 = [1, 'Geoff',  'Clay',   88.92,  87.16]
w1_g3 = [1, 'Aaron',  'David',  137.58, 138.88]
w1_g4 = [1, 'Aidan',  'Bebe',   101.02, 85.08]  
w1_g5 = [1, 'Thad',   'Jack',   84.86,  80.14]
w1_g6 = [1, 'Fisher', 'Zander', 83.46, 123.9]

w1_games = [w1_g1, w1_g2, w1_g3, w1_g4, w1_g5, w1_g6]

In [17]:
last_game_index = weekly_scores.shape[0]

for game in w1_games:
    weekly_scores.loc[last_game_index] = game
    last_game_index += 1

In [18]:
weekly_scores

  week    home    away  home_score  away_score
0    1  Nathan    Paul      100.98      112.86
1    1   Geoff    Clay       88.92       87.16
2    1   Aaron   David      137.58      138.88
3    1   Aidan    Bebe      101.02       85.08
4    1    Thad    Jack       84.86       80.14
5    1  Fisher  Zander       83.46      123.90

In [19]:
elo_aaron_w1  = [1, 'Aaron',  1486]
elo_aidan_w1  = [1, 'Aidan',  1514]
elo_bebe_w1   = [1, 'Bebe',   1495]
elo_clay_w1   = [1, 'Clay',   1477]
elo_david_w1  = [1, 'David',  1450]
elo_fisher_w1 = [1, 'Fisher', 1505]
elo_geoff_w1  = [1, 'Geoff',  1532]
elo_jack_w1   = [1, 'Jack',   1541]
elo_thad_w1   = [1, 'Thad',   1468]
elo_nathan_w1 = [1, 'Nathan', 1550]
elo_paul_w1   = [1, 'Paul',   1523]
elo_zander_w1 = [1, 'Zander', 1459]

w1_elos = [elo_aaron_w1, elo_aidan_w1, elo_bebe_w1, elo_clay_w1,
           elo_david_w1, elo_fisher_w1, elo_geoff_w1, elo_jack_w1,
           elo_thad_w1, elo_nathan_w1, elo_paul_w1, elo_zander_w1]

last_elo_index = elo_ratings.shape[0]

for elo in w1_elos:
    elo_ratings.loc[last_elo_index] = elo
    last_elo_index +=1

## Functions

In [32]:
def get_elo_ratings(game, elo_df):
    """ Returns the elo rating of the home team. """
    week = game[0]
    home_manager = game[1]
    away_manager = game[2]
    
    home_manager_elo = elo_df[(elo_df['week'] == week) & (elo_df['manager'] == home_manager)].iloc[0,2]
    away_manager_elo = elo_df[(elo_df['week'] == week) & (elo_df['manager'] == away_manager)].iloc[0,2]
    
    return (home_manager_elo, away_manager_elo)

In [36]:
get_elo_ratings(test_game, elo_ratings)

(1550, 1523)

In [55]:
def calculate_elo_win_probability(elo_tuple):
    """ Calculates the win probability based on Elos for both the home and away team. """
    
    home_elo = int(elo_tuple[0])
    away_elo = int(elo_tuple[1])
    
    home_win_prob = 1 / (1 + 10**((away_elo - home_elo) / 400))
    away_win_prob = 1 / (1 + 10**((home_elo - away_elo) / 400))
    
    return (home_win_prob, away_win_prob)

In [57]:
test_game

week               1
home          Nathan
away            Paul
home_score    100.98
away_score    112.86
Name: 0, dtype: object

In [66]:
def determine_game_results(game):
    """ Determines wins for each team from a game. """
    
    home_wins = 0
    away_wins = 0
    
    if (game[3] > game[4]):
        home_wins += 1
        
    elif (game[3] < game[4]):
        away_wins = 1
        
    else:
        home_wins = 0.5
        away_wins = 0.5
        
    return (home_wins, away_wins)

In [75]:
def get_outcome_elo_change(game, elo_df):
    """
    Calculates the change in elo score for each team based on each team's elo entering the week
    and the actual result of the week.
    """
    
    prior_elo_scores = get_elo_ratings(game, elo_df)
    win_probabilities = calculate_elo_win_probability(prior_elo_scores)
    game_outcome = determine_game_results(game)
    
    home_elo_change = 20 * (game_outcome[0] - win_probabilities[0])
    away_elo_change = 20 * (game_outcome[1] - win_probabilities[1])
    
    
    return (home_elo_change, away_elo_change)

In [76]:
get_outcome_elo_change(test_game, elo_ratings)

(-10.77556184114343, 10.77556184114343)